@import "tailwindcss";

@font-face {
  font-family: "Redaction";
  src: url("/Redaction-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/Geist.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prata";
  src: url("/Prata-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.Redaction {
  font-family: "Redaction", Times, serif;
}

.Geist {
  font-family: "Geist", Times, Arial, system-ui, sans-serif;
}

.Prata {
  font-family: "Prata", Times, serif;
}

.variableSize {
  font-size: clamp(1rem, 2vw + 1rem, 2.25rem);
}
